http_post/POST_with_a_Dynamic_Body_using_ReplaceText.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Shows how to post a dynamically built JSON using regex text replacement.</description>
  <groupId>0158101f-6f14-1cd3-58bc-87f34a1b1e4a</groupId>
  <name>POST with a Dynamic Body using ReplaceText</name>
  <snippet>
    <connections>
      <id>01581029-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581028-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581024-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0158102a-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581023-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581028-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0158102d-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>0158102c-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581022-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0158102e-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581024-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>loop.next</selectedRelationships>
      <source>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>0158102c-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01581030-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>0158102f-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Response</selectedRelationships>
      <source>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581023-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01581032-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581022-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>0158102f-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01581034-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581033-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581021-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01581035-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581022-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0158101f-6f14-1cd3-0000-000000000000</groupId>
        <id>01581033-6f14-1cd3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>01581021-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>595.4806529085967</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File Size</key>
            <value>
              <name>File Size</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>
              <name>Data Format</name>
            </value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>
              <name>Unique FlowFiles</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File Size</key>
            <value>1b</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>Binary</value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>60 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Trigger the flow</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
    </processors>
    <processors>
      <id>01581022-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>599.3380676269531</x>
        <y>456.8498907785611</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>body</key>
            <value>
              <name>body</name>
            </value>
          </entry>
          <entry>
            <key>title</key>
            <value>
              <name>title</name>
            </value>
          </entry>
          <entry>
            <key>userId</key>
            <value>
              <name>userId</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>body</key>
            <value>bar</value>
          </entry>
          <entry>
            <key>title</key>
            <value>foo</value>
          </entry>
          <entry>
            <key>userId</key>
            <value>USERID_PLACEHOLDER</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Define request parameters</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>01581023-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>607.7000061035156</x>
        <y>1000.8194571237759</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HTTP Method</key>
            <value>
              <name>HTTP Method</name>
            </value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>
              <name>Remote URL</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>
              <name>Read Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>
              <name>Include Date Header</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
            <value>
              <name>Attributes to Send</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
            <value>
              <name>Basic Authentication Username</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
            <value>
              <name>Basic Authentication Password</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
            <value>
              <name>invokehttp-proxy-user</name>
            </value>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
            <value>
              <name>invokehttp-proxy-password</name>
            </value>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
            <value>
              <name>Put Response Body In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>
              <name>Max Length To Put In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>
              <name>Digest Authentication</name>
            </value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>
              <name>Always Output Response</name>
            </value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
            <value>
              <name>Trusted Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>
              <name>Add Response Headers to Request</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>
              <name>send-message-body</name>
            </value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>
              <name>Use Chunked Encoding</name>
            </value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>
              <name>Penalize on "No Retry"</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HTTP Method</key>
            <value>POST</value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>http://jsonplaceholder.typicode.com/posts</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>15 secs</value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>256</value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Make a new post</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>No Retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Response</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Retry</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
    </processors>
    <processors>
      <id>01581024-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>1201.988086278758</x>
        <y>751.4742633360574</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Attributes List</key>
            <value>title,body,userId</value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Turn request parameters to JSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
    <processors>
      <id>01581028-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>603.7000061035158</x>
        <y>748.3999901834593</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>USERID_PLACEHOLDER</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${counter:plus(1)}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Replace a placeholder</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>0158102c-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>1198.4999328613283</x>
        <y>459.3999901834593</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>loop.next</key>
            <value>
              <name>loop.next</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>loop.next</key>
            <value>${counter:lt(5)}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Iterate</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>loop.next</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>0158102f-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>1002.1000756326779</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>counter</key>
            <value>
              <name>counter</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>counter</key>
            <value>${counter:plus(1)}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Increment the counter</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>01581033-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>0158101f-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>596.9001281738281</x>
        <y>221.6400036111938</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>counter</key>
            <value>
              <name>counter</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>counter</key>
            <value>0</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Initialise a counter</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
  </snippet>
  <timestamp>10/30/2016 00:38:04 BST</timestamp>
</template>