templates/http_post/POST_via_PostHTTP.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Shows how to post JSON using the PostHTTP processor.</description>
  <groupId>01581002-6f14-1cd3-0b91-69157c55b584</groupId>
  <name>POST via PostHTTP</name>
  <snippet>
    <processors>
      <id>01581003-6f14-1cd3-0000-000000000000</id>
      <parentGroupId>01581002-6f14-1cd3-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>
              <name>Max Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Data to Post per Second</key>
            <value>
              <name>Max Data to Post per Second</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Send as FlowFile</key>
            <value>
              <name>Send as FlowFile</name>
            </value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>
              <name>Use Chunked Encoding</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send as HTTP Headers (Regex)</key>
            <value>
              <name>Attributes to Send as HTTP Headers (Regex)</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://jsonplaceholder.typicode.com/posts</value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>100 MB</value>
          </entry>
          <entry>
            <key>Max Data to Post per Second</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Send as FlowFile</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Attributes to Send as HTTP Headers (Regex)</key>
          </entry>
          <entry>
            <key>User Agent</key>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Submit new post</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PostHTTP</type>
    </processors>
  </snippet>
  <timestamp>10/30/2016 00:18:51 BST</timestamp>
</template>